.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.bi {
    color: #daff01;
}

#button-addon2 {
    background: #9353ff;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}
